/*Geral do site*/
*{
    padding: 0px;
    margin: 0px;
}
/*Geral do site*/

body{
    width: 1080px;
    margin: 0 auto !important;
    font-family: 'Times New Roman', Times, serif;
    background: #222C35 !important;
}

/*Header*/
div#cabecalho{
    width: 1080px;
    height: 140px;
    border-bottom: 2px solid #FFC293 ;
    
}
#logo img{
    display: block;
    float: left;
    width: 180px;
    margin-left: 0px;
    padding: 20px;
}
header ul{
    float: left;
    margin-top: 42px;
    margin-left: 100px;
}
header nav li{
    display: block;
    float: left;
    padding: 5px 8px;
    border-right: 1px solid #FFC293;
}
header nav li.ultimo-item{
    border-right: none !important;
}

header li a{
    text-decoration: none;
    font-weight: 900px;
    color: #FFC293;
    font-size: 1.1em;
}

/*Searchbar*/

.searchbar{
    float: left;
    width: 100px;
    margin-top: 37px;
    margin-left: 15px;
}

.searchbar button{
    background: #FFC293;
    color: #222C35;
}

.searchbar button:hover, .searchbar button:focus{
    background: #222C35;
    color: #FFC293;
}


#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    background: #222c35;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border: #9D8C7B solid 1px;
    border-radius:1px;
    background: #222c35;
    color: #F6F7EB;
}

.search:hover input, .search input:focus {
    width: 150px;
    margin-left: 0px;
}

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

/*Searchbar*/


/*Header*/

/* Main */

main h1{
    text-align: center;
    padding: 20px 0 15px 0;
    color: #FFC293;
    font-weight: bold;
}

/* Carrosel de Lançamentos */



#lançamentos{
    clear: both;
    width: 1080px;
    padding-bottom: 40px;
    border-bottom: 2px solid #FFC293 ;
}

#myCarousel img{
    width: 760px;
    margin: 0;
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:#222c3573;
    text-shadow:none;
    width: 720px;
    height: 120px;
}

#myCarousel .carousel-caption h4 a{
    color: #0D4CC6;
    font-weight: bold;
}

#myCarousel .carousel-caption p{
    color: #F6F7EB;
    
}

#myCarousel .list-group {
    position:absolute;
	top:0;
    left:720px;
    background: #222C35;
    margin: 0;
    height: 409px;
    margin-top: 0px;
    
}
#myCarousel .list-group-item {
	border-radius:0px;
    cursor:pointer;
    background: #222C35;
    border:1px solid #9D8C7B;
    height: 20%;
    font-weight: bold;
}

#myCarousel .list-group .active {
	background:#171e24;	
}
#myCarousel .list-group h4{
    background: none;
    color: #FFC293;
    font-size: 1em;
}


@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
.checked {
    color: orange;
  }

/* Carrosel de Lançamentos */

/*Em destaque*/

div#destaque{
    padding-bottom: 40px;
    border-bottom: 2px solid #FFC293;
}
div#caixa-selecao{
    float: right;
    padding: 55px 0px 0px 40px;
    margin-right: 70px;
}
div#caixa-selecao select{
    width: 180px;
    height: 30px;
    text-indent: 6px;
    color: #222C35;
    border-radius: 5px;
    background: #F6F7EB;

}

div#caixa-selecao label{
    color: #F6F7EB;
}

div#destaque h1{
    float: left;
    text-align: left;
    padding: 20px 0px 40px 52px;
}

div#destaque div#img-destaque{
    clear: both;
}
div#destaque span img{
    padding-left: 52px;
    height: 300px;
    width: 250px;
}

div#destaque #carrega-filmes{
    margin-top: 25px;
    width: 220px;
    margin-left: 850px;
    
}

div#destaque #carrega-filmes button{
    background: #222C35;
    color: #FFC293;
    font-weight: bolder;
    border: 1px solid #FFC293;
    border-radius: 5px;
    padding: 5px;
    
}
/* Em Destaque */

/* Ultimas Avaliações */


div#ultimas-avaliacoes h1{
    text-align: left;
    margin-left: 52px;
}
div#ultimas-avaliacoes div{
    background: #F6F7EB;
    width: 300px;
    height: 300px;
    margin: 20px 30px 40px 0;
    float: left;
    border-right: 5px solid #171e24;
    border-bottom: 5px solid #171e24;
}

div#ultimas-avaliacoes h4{
    float: right;
    margin: 35px 40px 0 0;
    font-weight: bolder;
    color: #222C35;

}

div#ultimas-avaliacoes div#avaliacao1{
    margin-left: 52px;
}
div#ultimas-avaliacoes img{
    width: 60px;
    margin: 15px;
}


div#ultimas-avaliacoes{
    height: 520px;
    border-bottom: 2px solid #FFC293;

}
div#ultimas-avaliacoes #carrega-avaliacoes{
    margin-top: 0px;
    height: 25px;
    width: 200px;
    margin-left: 818px;
    background: none;
    border: none;
    
}

div#ultimas-avaliacoes #carrega-avaliacoes button{
    background: #222C35;
    color: #FFC293;
    font-weight: bolder;
    border: 1px solid #FFC293;
    border-radius: 5px;
    padding: 5px;
    
}

div#ultimas-avaliacoes div p, div#ultimas-avaliacoes div.rating{
    margin-left: 90px;
    background: none;
    border: none;
}
div#ultimas-avaliacoes div p span, div#ultimas-avaliacoes div.rating span{
    font-weight: bolder;
}

div#ultimas-avaliacoes div p{
    margin-right: 30px;
}






/* Main */